# "mysql://{MYSQL_USER}:{MYSQL_PASSWORD}@localhost:3306/{MYSQL_DATABASE}"
# you have to run the mysql container by opening 3306 port on the docker-compose.yml and "./run.sh". 
DATABASE_URL=

# mysql://root:{MYSQL_ROOT_PASSWORD}@localhost:3306/shadow_db
SHADOW_DATABASE_URL=